/.vscode
Part 1/fifo00.out
Part 1/fifo01.out
Part 1/fifo02.out
Part 1/fifo03.out
Part 1/fifo04.out
Part 1/fifo05.out
Part 1/lru00.out
Part 1/lru01.out
Part 1/lru02.out
Part 1/lru03.out
Part 1/lru04.out
Part 1/lru05.out
Part 1/p1_sim.exe
Part 2/output2T00.txt
Part 2/output2T01.out
Part 2/output2T02.out
Part 2/output2T03.out
Part 2/output2T04.out
Part 2/output2T05.out
Part 2/output2T06.out
Part 2/output2T07.out
Part 2/output2T08.out
Part 2/output2T09.out
Part 2/output2T10.out
Part 2/output2T11.out
Desired outputs/output2T00.out
Desired outputs/output2T00.txt
Part 1/p1_sim.exe
Desired outputs/desired_output2T00.txt
Part 2/p2_sim.exe
Part 1/p1_sim.exe
Desired outputs/output2T00.out
