/.vscode
Part 1/fifo00.out
Part 1/fifo01.out
Part 1/fifo02.out
Part 1/fifo03.out
Part 1/fifo04.out
Part 1/fifo05.out
Part 1/lru00.out
Part 1/lru01.out
Part 1/lru02.out
Part 1/lru03.out
Part 1/lru04.out
Part 1/lru05.out
Part 1/p1_sim.exe
